<h1>Listing offers</h1>

<table>
  <tr>
    <th>Merchant</th>
    <th>Start date</th>
    <th>Finish date</th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%= offer.merchant_id %></td>
    <td><%= offer.start_date %></td>
    <td><%= offer.finish_date %></td>
    <td><%= offer.title %></td>
    <td><%= offer.description %></td>
    <td><%= offer.price %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Offer', new_offer_path %>
