<p id="notice"><%= notice %></p>

<p>
  <b>Merchant:</b>
  <%= @offer.merchant_id %>
</p>

<p>
  <b>Start date:</b>
  <%= @offer.start_date %>
</p>

<p>
  <b>Finish date:</b>
  <%= @offer.finish_date %>
</p>

<p>
  <b>Title:</b>
  <%= @offer.title %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>Price:</b>
  <%= @offer.price %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
